<ul>
  <% if ::Refinery::PageModels::Admin::PageModelsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.page_models_admin_page_models_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_page_models_admin_page_model_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::PageModels::Admin::PageModelsController.sortable? && ::Refinery::PageModels::PageModel.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Page Models"),
                 refinery.page_models_admin_page_models_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Page Models"),
                 refinery.page_models_admin_page_models_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
