<%= form_for [refinery, :page_models_admin, @page_model] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @page_model,
              :include_object_name => true %>
<%= render :partial => "locale_picker",
             :locals => {
               :current_locale => Thread.current[:globalize_locale]
             } if defined?(::Refinery::I18n) %>
              
 <div class="field">
    <%=f.label :page_id, "For Page:"%>
    <%=f.select :page_id, Refinery::Page.all.collect {|p|[p.slug.capitalize,p.id]}%>
  </div>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>
  <div class='field'>
    <%= f.hidden_field :page_name%>
  </div>
  <%=f.fields_for :model_attributes do |ma|%>
    <div class="child field" id="<%="#{f.object.name.to_s if f.object}_#{ma.object.name.to_s if ma.object}"%>">
      <%=render 'page_model_attribute_fields',builder: ma%>
    </div>
  <%end%>
  <div class="add_link">
    <%=add_fields_for("Add new attribute", f, :model_attributes)%>
  </div>
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.page_models.admin.page_models.page_model'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @page_model.name) -%>
<% end -%>


<%=javascript_tag do %>
  function add_fields(elem,association,fields)
  {
    var regexp=new RegExp("new_"+association,"g");
    var html=fields.replace(regexp,new Date().getTime());
    $(".add_link").before(html);
  }

  $(function(){
    var page_name=$("#page_model_page_id option:selected").text();
    $("input#page_model_page_name").val(page_name.toLowerCase());
   
    $("#page_model_page_id").on("change",function(){
      page_name=$(this).find("option:selected").text();
      $("input#page_model_page_name").val(page_name.toLowerCase());
      

    });
  });
<%end%>