<%=builder.text_field :name%>
<%=builder.text_field :value%>
<%=builder.select :data_type,builder.object.get_datatypes.map{|i| [i.capitalize,i]}%>
<%=builder.hidden_field :page_model_id%>
<%=builder.check_box :_destroy%>