<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(page_model) -%>">
  <span class='title'>
    <%= page_model.name %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.page_models_page_model_path(page_model),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_page_models_admin_page_model_path(page_model),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.page_models_admin_page_model_path(page_model),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => page_model.name),
        :method => :delete %>
  </span>
</li>
