<%@grouped_page_models.each do |key,array|%>
	<h2><%=key.capitalize%></h2>
	<ul id='sortable_list'>
	  <%= render :partial => 'page_model', :collection => array %>
	</ul>
<%end%>
<%= render '/refinery/admin/sortable_list',
            :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true %>
