<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::PageModels::Admin::PageModelsController.sortable? and ::Refinery::PageModels::PageModel.many? %>
