<% content_for :body_content_title do %>
  <%= @page_model.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @page_model.name %>
    </p>
  </section>
  <section>
    <h1>Belongs To</h1>
    <p>
      <%=raw @page_model.belongs_to %>
    </p>
  </section>
  <section>
    <h1>Page</h1>
    <p>
      <%=raw @page_model.page_id %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="page_models">
      <% @page_models.each do |page_model| %>
        <li>
          <%= link_to page_model.name, refinery.page_models_page_model_path(page_model) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
